 body {
    background-color: black;
    font-family: Courier New, Courier, monospace;
    color: white;
    
  
}
.jumbotron { 
    text-shadow: 0 0 2px black, -1px -1px 2px black, 1px 0 2px black, 1px 1px 2px black; 
    background-color: rgb(53, 56, 56);
}

.container { 
    text-align: center;
    
    
}
h1,h2,h3,
h4,h5,h6 {
    color: white; 
}
 
